  @import url(https://fonts.googleapis.com/css?family=Caveat);

/* Pour Juliette */

img {
  max-width: 100%;
}
body, html {
  clear: both;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.logo {
  margin-top: -170px;
  margin-left: 20px;
  height:240px;
  width: 239px;

}

.no-padding > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.no-margin > [class*='col-'] {
  margin-right: 0;
  margin-left: 0;
}

.container-citation {
margin-top: 220px;
}

.citation {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 50px;
}

.signature {
  margin-bottom: 220px;
  margin-right: 90px;
  color:red;
  margin-top: 30;
  text-align: right;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}

.row {
  width: 100%;
  height: 50%;
}
.container-citation-ind {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: black;
}
.container-citation-ind img {
  height: 340px;
}
.img-responsive {
  border: 5px solid black;
  box-sizing: border-box;
}
.citation-text {
  background-color: black;
  height: 340px;
  vertical-align: middle;
  display: inline-block;
}
.cit {
  margin-top: 130px;
  color: white;
  font-size: 32px;
  font-family: 'Caveat', cursive;;
  text-align: center;
}
.container-simplon {
  width: 100%;
  height: 750px;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.simplon {
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.logo-simplon {
  position: absolute;
  top: -100%;
  left: 44%;
  background-image: url("http://static1.squarespace.com/static/523ee688e4b0534df7deb0be/t/53a2c01ce4b0ccf77817e2af/1403174941911/enseigne-couleur.png");
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-size: 150px 100px;
  -webkit-shape-outside: circle();
}
.col1 {
  top: 0;
  left: 0;
  position: absolute;
  width: 40%;
}
.col2 {
  top: 0;
  right: 0;
  position: absolute;
  width: 40%;
}
p {
  text-align: justify;
  font-size: 20px;
  font-family: fantasy;
  color: black;
}

/* Pour Simon */


/* Pour Karine */

.polaroid-fond {
  width: 100%;
  background-color: black;
}
.polaroid-cont {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

  #pola {
    width: 100%;
  }
  .polaroid-fond {
    width: 100%;
    background-color: black;
  }
  .polaroid-cont {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .calli {
    position: absolute;
    top: 78%;
    left: 25%;
    font-size: 60px;
    transform: rotate(-10deg);
    writing-mode: tb-rl;
    font-family: 'Caveat', cursive;
    color: red;
  }
  .juliette-photo {
    width: 100%;
    height: 400px;
    border: 5px solid white;
    border-bottom: 50px solid white;
    margin: 10px;
    background-image: url("http://www.wartmag.com/img/2009/mars/pho.jpg");
    background-size: 300px 400px;
    background-repeat: no-repeat;
  }
  .juliette-photo:hover {
    background-image: url("http://vanimg.s3.amazonaws.com/portrait-16.jpg");
  }
  .simon-photo {
    width: 100%;
    height: 400px;
    border: 5px solid white;
    border-bottom: 50px solid white;
    margin: 10px;
    background-image: url("http://vanimg.s3.amazonaws.com/portrait-16.jpg");
    background-size: 300px 400px;
    background-repeat: no-repeat;
  }
  .simon-photo:hover {
    background-image: url("http://www.wartmag.com/img/2009/mars/pho.jpg");
  }
  .bruno-photo {
    width: 100%;
    height: 400px;
    border: 5px solid white;
    border-bottom: 50px solid white;
    margin: 10px;
    background-image: url("http://vanimg.s3.amazonaws.com/portrait-16.jpg");
    background-size: 300px 400px;
    background-repeat: no-repeat;
  }
  .bruno-photo:hover {
    background-image: url("http://www.wartmag.com/img/2009/mars/pho.jpg");
  }
  .karine-photo {
    width: 100%;
    height: 400px;
    border: 5px solid white;
    border-bottom: 50px solid white;
    margin: 10px;
    background-image: url("http://www.wartmag.com/img/2009/mars/pho.jpg");
    background-size: 300px 400px;
    background-repeat: no-repeat;
  }
  .karine-photo:hover {
    background-image: url("http://vanimg.s3.amazonaws.com/portrait-16.jpg");
  }
  @media screen and (min-width: 991px) {
    .juliette:hover .juliette-descr {
      display: block;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 102%;
      background-color: rgba(255, 255, 255, 0.7);
      height: 100%;
      width: 100%;
      color: black;
      padding: 10px;
      text-align: justify;
      z-index: 2;
    }
    .juliette:hover .juliette-descr::before {
      content: "";
      position: absolute;
      top: 10%;
      left: 0px;
      margin-left: -8px;
      border-top: 8px solid transparent;
      border-right: 8px solid rgba(255, 255, 255, 0.7);
      border-bottom: 8px solid transparent;
      z-index: 2;
    }
    .simon:hover .simon-descr {
      display: block;
      visibility: visible;
      position: absolute;
      top: 0;
      right: 101%;
      background-color: rgba(255, 255, 255, 0.7);
      height: 100%;
      width: 100%;
      color: black;
      padding: 10px;
      text-align: justify;
      z-index: 2;
    }
    .simon:hover .simon-descr::before {
      content: "";
      position: absolute;
      top: 10%;
      right: 0px;
      margin-right: -8px;
      border-top: 8px solid transparent;
      border-left: 8px solid rgba(255, 255, 255, 0.7);
      border-bottom: 8px solid transparent;
    }
    .bruno:hover .bruno-descr {
      display: block;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 102%;
      background-color: rgba(255, 255, 255, 0.7);
      height: 100%;
      width: 100%;
      color: black;
      padding: 10px;
      text-align: justify;
      z-index: 2;
    }
    .bruno:hover .bruno-descr::before {
      content: "";
      position: absolute;
      top: 10%;
      left: 0px;
      margin-left: -8px;
      border-top: 8px solid transparent;
      border-right: 8px solid rgba(255, 255, 255, 0.7);
      border-bottom: 8px solid transparent;
      z-index: 2;
    }
    .karine:hover .karine-descr {
      display: block;
      visibility: visible;
      position: absolute;
      top: 0;
      right: 101%;
      background-color: rgba(255, 255, 255, 0.7);
      height: 100%;
      width: 100%;
      color: black;
      padding: 10px;
      text-align: justify;
      z-index: 2;
    }
    .karine:hover .karine-descr::before {
      content: "";
      position: absolute;
      top: 10%;
      right: 0px;
      margin-right: -8px;
      border-top: 8px solid transparent;
      border-left: 8px solid rgba(255, 255, 255, 0.7);
      ;
      border-bottom: 8px solid transparent;
    }
  }
  @media screen and (max-width: 991px) {
    .juliette:hover .juliette-descr {
      display: block;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0%;
      background-color: rgba(255, 255, 255, 0.7);
      height: 100%;
      width: 100%;
      color: black;
      padding: 10px;
      text-align: justify;
      z-index: 2;
    }
    .simon:hover .simon-descr {
      display: block;
      visibility: visible;
      position: absolute;
      top: 0;
      right: 0%;
      background-color: rgba(255, 255, 255, 0.7);
      height: 100%;
      width: 100%;
      color: black;
      padding: 10px;
      text-align: justify;
      z-index: 2;
    }
    .bruno:hover .bruno-descr {
      display: block;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0%;
      background-color: rgba(255, 255, 255, 0.7);
      height: 100%;
      width: 100%;
      color: black;
      padding: 10px;
      text-align: justify;
      z-index: 2;
    }
    .karine:hover .karine-descr {
      display: block;
      visibility: visible;
      position: absolute;
      top: 0;
      right: 0%;
      background-color: rgba(255, 255, 255, 0.7);
      height: 100%;
      width: 100%;
      color: black;
      padding: 10px;
      text-align: justify;
      z-index: 2;
    }
  }
  .juliette > span {
    display: none;
    visibility: hidden;
  }
  .simon > span {
    display: none;
    visibility: hidden;
  }
  .bruno > span {
    display: none;
    visibility: hidden;
  }
  .karine > span {
    display: none;
    visibility: hidden;
  }
