/* Pour Juliette */

img {
  max-width: 100%;
}
body, html {
  clear: both;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.no-padding > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.no-margin > [class*='col-'] {
  margin-right: 0;
  margin-left: 0;
}
.row {
  width: 100%;
  height: 50%;
}
.container-citation-ind {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: black;
}
.container-citation-ind img {
  height: 340px;
}
.img-responsive {
  border: 5px solid black;
  box-sizing: border-box;
}
.citation-text {
  background-color: black;
  height: 340px;
  vertical-align: middle;
  display: inline-block;
}
.cit {
  margin-top: 130px;
  color: white;
  font-size: 28px;
  font-family: fantasy;
  text-align: center;
}
.container-simplon {
  width: 100%;
  height: 750px;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.simplon {
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.logo-simplon {
  position: absolute;
  top: -100%;
  left: 44%;
  background-image: url("http://static1.squarespace.com/static/523ee688e4b0534df7deb0be/t/53a2c01ce4b0ccf77817e2af/1403174941911/enseigne-couleur.png");
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-size: 150px 100px;
  -webkit-shape-outside: circle();
}
.col1 {
  top: 0;
  left: 0;
  position: absolute;
  width: 40%;
}
.col2 {
  top: 0;
  right: 0;
  position: absolute;
  width: 40%;
}
p {
  text-align: justify;
  font-size: 20px;
  font-family: fantasy;
  color: black;
}

/* Pour Simon */


/* Pour Karine */

.polaroid-fond {
  width: 100%;
  background-color: black;
}
.polaroid-cont {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.polaroid-cont img {
  width: 100%;
  border: 5px solid white;
  border-bottom: 50px solid white;
  margin: 10px;
}
.juliette:hover ~ .simon>.juliette-descr {
  display: block;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  color: black;
  padding: 10px;
  text-align: justify;
}
.juliette:hover ~ .simon>.juliette-descr::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0px;
  margin-left: -8px;
  border-top: 8px solid transparent;
  border-right: 8px solid rgba(255, 255, 255, 0.7);
  ;
  border-bottom: 8px solid transparent;
}
.simon:hover ~ .juliette>.simon-descr {
  display: block;
  visibility: visible;
  position: absolute;
  top: 0;
  right: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  color: black;
  padding: 10px;
  text-align: justify;
}
.simon:hover img {}
.simon:hover ~ .juliette>.simon-descr::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0px;
  margin-left: -8px;
  border-top: 8px solid transparent;
  border-right: 8px solid rgba(255, 255, 255, 0.7);
  ;
  border-bottom: 8px solid transparent;
}
.bruno:hover ~ .karine>.bruno-descr {
  display: block;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  color: black;
  padding: 10px;
  text-align: justify;
  ;
}
.bruno:hover ~ .karine>.bruno-descr::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0px;
  margin-left: -8px;
  border-top: 8px solid transparent;
  border-right: 8px solid rgba(255, 255, 255, 0.7);
  ;
  border-bottom: 8px solid transparent;
}
.karine:hover ~ .bruno>.karine-descr {
  display: block;
  visibility: visible;
  position: absolute;
  top: 0;
  right: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  color: black;
  padding: 10px;
  text-align: justify;
  ;
}
.karine:hover ~ .bruno>.karine-descr::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0px;
  margin-left: -8px;
  border-top: 8px solid transparent;
  border-right: 8px solid rgba(255, 255, 255, 0.7);
  ;
  border-bottom: 8px solid transparent;
}
.juliette > span {
  display: none;
  visibility: hidden;
}
.simon > span {
  display: none;
  visibility: hidden;
}
.bruno > span {
  display: none;
  visibility: hidden;
}
.karine > span {
  display: none;
  visibility: hidden;
}
